<h1>Hi, my name is James.</h1>

<h2>I am 26 and I live in Edinburgh.</h2> 

<h3>I play guitar for a rubbish band called <a href="https://www.facebook.com/hunterhopeedinburgh/?fref=ts">Hunter/Hope</a></h3>

<h4>In my spare time I like to play video games, write and play music and get annoyed by me and my girlfriend's pet cat Zelda.</h4>