<h1>Hi, my name is James. 

I am 26 and I live in Edinburgh. 

I play guitar for a rubbish band called <a href="https://www.facebook.com/hunterhopeedinburgh/?fref=ts">Hunter/Hope</a>:

In my spare time I like to play video games, write and play music and get annoyed by my girlfriend and I's pet cat Zelda</h1>