<!DOCTYPE html>
<html>
<head>
  <title>Word Formatter!</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

<div> Word Formatter!
<%= yield %>
  <a href="/">Home</a> </div>

</body>
</html>